body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.moreBtn {
  margin-top: 35px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  margin-bottom: 45px;
  padding: 7px 20px;
  align-items: center;
}
